.home-introduction {
  position: relative;
  z-index: 3;
  margin: 180px 0;
  h2 {
    font-size: 5rem;
    font-weight: 700;
  }
  p {
    font-size: 2.8rem;
  }
  @media (max-width: $sm) {
    margin: 120px 0;
  }
}