.home-projects {
  position: relative;
  padding: 350px 0 150px;
  background-image: url(../assets/projects-bg.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  h2 {
    text-align: center;
    color: $white;
  }
}