.home-where {
  margin: 160px 0 30px;
  .supports {
    margin-top: 5rem;
    .support {
      margin-bottom: 20px;
    }
    h3 {
      padding-top: 65px;
      text-align: center;
      background-repeat: no-repeat;
      background-position: center 0;
      background-size: auto 45px;
    }
    .support-digital h3 { background-image: url(../assets/support-digital.svg); }
    .support-print h3 { background-image: url(../assets/support-print.svg); }
    .support-dashboard h3 { background-image: url(../assets/support-dashboard.svg); }
    p {
      text-align: center;
    }
  }

  @media (max-width: $sm) {
    margin: 100px 0 0;
  }
}