.home-projects {
  position: relative;
  margin: -6% 0 35%;
  background: rgb(50,178,186);
  background: linear-gradient(180deg, #24A6AE 0%, rgba(36,166,174,1) 100%);
  &:before,
  &:after {
    content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
  }
  &:before {
    bottom: 100%;
    padding-bottom: 32%;
    background-image: url(../assets/projects-bg-top.svg);
    background-position: 0 0;
    background-size: 100% auto;
  }
  &:after {
    top: 99.5%;
    padding-bottom: 85%;
    background-image: url(../assets/projects-bg-bottom.svg);
    background-position: 0 0;
    background-size: 100% auto;
  }

  .container {
    position: relative;
    z-index: 1;
    top: -100px;
  }
  h2 {
    padding-top: 50px;
    color: $white;
    @media (max-width: $lg) {
      padding-top: 100px;
    }
    @media (max-width: $md) {
      padding-top: 150px;
    }
  }
}