.homehero {
  position: relative;
  height: calc(100vh + 80px);
  padding-top: 270px;
  background: $teal;
  background: linear-gradient(120deg, rgba($teal,1) 0%, rgba($yellow,1) 100%);
  .container {
    position: relative;
    z-index: 1;
  }
  @media (max-width: $md) {
    height: calc(100vh + 25px);
  }
  @media (max-width: $sm) {
    height: calc(100vh + 10px);
    padding-top: 150px;
  }

  // Text
  .tagline {
    font-family: $fontSecondary;
    font-size: 5rem;
    .em {
      font-weight: 700;
    }
    .rotating-text {
      .em {
        color: $white;
      }
    }
    @media (max-width: $sm) {
      font-size: 3rem;
    }
  }
  .introduction {
    margin-top: 150px;
    font-size: 2.6rem;
    .intro-section {
      margin: 25px 0;
    }
    .salutation {
      margin-right: 10px;
      font-size: 4rem;
      font-weight: 600;
    }
    .rotating-text {
      color: $white;
      font-weight: 600;
    }
    .btn {
      margin-top: 12px;
      font-size: 1.8rem;
    }
    @media (max-width: $sm) {
      margin-top: 80px;
      font-size: 1.8rem;
      .intro-section {
        margin: 15px 0;
      }
      .salutation {
        margin-right: 8px;
        font-size: 3rem;
      }
    }
  }
}

// Header bottom triangles
.header-bottom-triangles {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  padding-bottom: 15.8%;
  background-image: url(../assets/hero-triangles.svg);
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
  background-size: 100% auto;
}
