@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400&display=swap&family=Hind+Madurai:wght@400;600&display=swap');

$fontPrimary: 'Hind Madurai', sans-serif;
$fontSecondary: 'Lora', serif;
$fontSize: 1.8rem;

// Titles
h1, h2, h3, h4, h5, h6 {
  font-family: $fontSecondary;
  line-height: 1.2;
  font-weight: 400;
}

h2 {
  margin: 4rem 0;
  font-size: 4rem;
}
h3 {
  margin: 1rem 0;
  font-family: $fontPrimary;
  font-size: 2.2rem;
  font-weight: 600;
}

// Links
a {
  position: relative;
  color: $text;
  text-decoration: none;
  &:before {
    content: '';
    position: absolute;
    left: -2px;
    right: -2px;
    bottom: 1px;
    height: 2px;
    background-color: rgba($teal, .3);
    transform: translateY(0) scaleY(1);
    transition: transform 200ms ease-in;
    transition-property: all;
    @include easeSineIn;
  }
  &:hover, &:focus {
    &:before {
      transform: translateY(-3px) scaleY(5);
      transition: transform 200ms ease-out;
      @include easeSineOut;
    }
  }
}

// Bold text
.emphasis {
  font-weight: 600;
}