@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap&family=Hind+Madurai:wght@400;600&display=swap');

$fontPrimary: 'Hind Madurai', sans-serif;
$fontSecondary: 'Lora', serif;
$fontSize: 1.8rem;

// Titles
h1, h2, h3, h4, h5, h6 {
  font-family: $fontSecondary;
  line-height: 1.2;
  font-weight: 400;
}

h1 {
  margin: 4rem 0;
  font-size: 5rem;
  @media (max-width: $md) {
    font-size: 4rem;
  }
  @media (max-width: $sm) {
    font-size: 3.5rem;
  }
}
h2 {
  margin: 10rem 0 4rem;
  font-size: 4rem;
  @media (max-width: $sm) {
    font-size: 3rem;
  }
}
h3 {
  margin: 1rem 0;
  font-family: $fontPrimary;
  font-size: 2.2rem;
  font-weight: 600;
  @media (max-width: $sm) {
    font-size: 2rem;
  }
}

// Links
a {
  // position: relative;
  color: $text;
  text-decoration: none;
  box-shadow: rgba($teal, 0.3) 0 -5px 0 0 inset;
  transition-property: box-shadow;
  @include easeSineIn;
  &:hover, &:focus {
    box-shadow: rgba($teal, 0.3) 0 -18px 0 0 inset;
    @include easeSineOut;
  }
}

// Bold text
.emphasis {
  font-weight: 600;
}

// Paragraph without top margin
.no-margin-top {
  margin-top: 0;
}

// Superscripts
.sup {
  position: relative;
  top: -4px;
  margin-left: 4px;
  font-size: 0.8em;
}