// Grid
$xl: 1200px;
$lg: 990px;
$md: 768px;
$sm: 576px;
$gutter: 30px;
$container: $xl;

// Colors
$black: #07071D;
$white: #F2F2F6;
$darkBlue: #030226;
$grey: #CFCFCF;
$pink: #F25C69;
$salmon: #F25857;
$peach: #F2BB9C;
$teal: #5397A6;

$bg: $white;
$text: $darkBlue;

// Transitions
@mixin easeSineOut {
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
}
@mixin easeSineIn {
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.12, 0, 0.39, 0);
}
