// Grid
$xl: 1200px;
$lg: 990px;
$md: 768px;
$sm: 576px;
$gutter: 30px;
$container: $lg;

// Colors
$black: #01171A;
$white: #F6FDFF;
$grey: #C0CACB;
$teal: #07A3B2;
$tealPale: #3EB8C4;
$yellow: #D9ECC7;
$pink: #F25C69;

// To remove
$darkBlue: #030226;
$salmon: #F25857;
$peach: #F2BB9C;
// $teal: #5397A6;

$bg: $white;
$text: $black;

$radius: 2px;

// Transitions
@mixin easeSineOut {
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
}
@mixin easeSineIn {
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.12, 0, 0.39, 0);
}
