.page-about {
  .btn-skills {
    margin: 10px 0 30px;
  }

  // Portrait
  .portrait-container {
    position: relative;
    margin: 40px 0;
    .portrait {
      position: relative;
      z-index: 1;
    }
    .portrait-bubbles-left,
    .portrait-bubbles-right {
      position: absolute;
      z-index: 2;
      filter: url('#glow');
      overflow: visible;
    }
    .portrait-bubbles-left {
      top: -30px;
      left: -200px;
    }
    .portrait-bubbles-right {
      bottom: -40px;
      right: -100px;
    }
    @media (max-width: $md) {
      .portrait-bubbles-left {
        left: -250px;
      }
      .portrait-bubbles-right {
        right: -150px;
      }
    }
    @media (max-width: $sm) {
      .portrait-bubbles-left,
      .portrait-bubbles-right {
        display: none;
      }
    }
  }

  // Skills
  .skills {
    margin-top: 60px;
  }
  .skill {
    padding: 5px 0 20px 55px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 40px auto;
    &.skill-data {
      background-image: url(../assets/skill-data.svg);
    }
    &.skill-design {
      background-image: url(../assets/skill-design.svg);
    }
    &.skill-development {
      background-image: url(../assets/skill-development.svg);
    }
    &.skill-languages {
      background-image: url(../assets/skill-language.svg);
      background-size: 43px auto;
    }
    &.skill-location {
      background-image: url(../assets/location.svg);
      background-position: 7px 0;
      background-size: 32px auto;
    }
    h3 {
      margin: 0 0 5px;
    }
  }

  // Contact button
  .contact {
    margin: 100px 0 200px;
  }
}