.contact-page {
  // Header
  .contact-header {
    position: relative;
    height: 500px;
    padding-top: 150px;
    background: $teal;
    background: linear-gradient(120deg, rgba($teal,1) 0%, rgba($yellow,1) 100%);
    h1 {
      position: relative;
      z-index: 1;
    }
    @media (max-width: $sm) {
      height: 300px;
      padding-top: 90px;
    }
  }

  // Contact info
  .contact-info {
    margin-top: 160px;
    border-left: 4px solid $text;
    h2 {
      margin-top: 0;
    }
    .contact-form-section,
    .contact-connect-section {
      padding: 50px 0 50px 140px;
      background-repeat: no-repeat;
      background-size: 80px auto;
      background-position: 50px 30px;
    }
    .contact-form,
    .contact-connect {
      margin-left: 6px;
    }
    @media (max-width: $sm) {
      border-left: none;
      .contact-form-section,
      .contact-connect-section {
        padding-left: 0;
        background-position: 0 0;
      }
      .contact-form-section {
        padding-top: 90px;
      }
      .contact-connect-section {
        padding-top: 70px;
      }
    }
  }

  // Contact form section
  .contact-form-section {
    background-image: url(../assets/mail.svg);
  }

  // Connect section
  .contact-connect-section {
    margin-top: 70px;
    background-image: url(../assets/communication.svg);
    .social-links {
      margin-top: 20px;
      text-align: left;
      a {
        .logo-instagram g,
        .logo-behance g,
        .logo-linkedin path {
          fill: $teal;
        }
        &:hover, &:focus {
          .logo-instagram g,
          .logo-behance g,
          .logo-linkedin path {
            fill: $pink;
          }
        }
      }
    }
  }
}