.page-project {
  // Header
  .page-project-header {
    position: relative;
    height: 600px;
    background-color: #fff;
    .row {
      height: 500px;
    }
    h1 {
      margin: 5px 0;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
    }
    &:before {
      top: 0;
      height: 100%;
      background: linear-gradient(0deg, rgba(#fff, 0) 0%, rgba(#fff, 0.7) 20%, rgba(#fff, 0.7) 60%, rgba(#fff, 0) 100%);
    }
    &:after {
      bottom: 0;
      height: 100%;
      background-image: url(../assets/hero-triangles-red.svg);
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: 100% auto;
    }
    @media (max-width: 1300px) {
      height: 500px;
    }
    @media (max-width: $sm) {
      height: calc(100vh - 60px);
    }
  }
  &.page-project-organizations-against-polarization .page-project-header {
    background-color: rgba($pink, 0.05);
    background-image: url(../assets/network-bg.svg);
    background-repeat: no-repeat;
    background-position: right 80px center;
    background-size: auto 800px;
    @media (max-width: $sm) {
      background-position: right -200px top 0;
    }
  }

  // Overview box
  .project-overview-container {
    margin: 115px 0;
    padding: 40px 30px;
    color: $white;
    background-color: $teal;
    border-radius: $radius;
  }
  .project-overview {
    font-size: 1.6rem;
    line-height: 1.2;
    h3 {
      margin: 0 0 2px;
      font-size: 1.8rem;
    }
    .overview-element {
      margin-bottom: 20px;
      a {
        color: $white;
        box-shadow: $tealPale 0 -5px 0 0 inset;
        &:hover, &:focus {
          box-shadow: $tealPale 0 -18px 0 0 inset;
        }
      }
    }
    @media (max-width: $lg) {
      margin-bottom: 10px;
    }
  }
  .project-main-image-container {
    a {
      display: block;
      padding: 0;
      box-shadow: none;
      &:hover, &:focus {
        box-shadow: none;
      }
      picture img {
        border-radius: $radius;
      }
    }
  }
  .project-btn-container {
    margin-top: 30px;
    @media (max-width: $lg) {
      text-align: center;
    }
  }

  // Project description
  .image-container {
    img {
      border-radius: $radius;
    }
    .caption {
      margin: 10px 0 30px;
      font-size: 1.5rem;
      color: rgba($text, 0.5);
      text-align: center;
    }
  }

  // Bottom link
  .project-bottom-link-container {
    margin-top: 115px;
    text-align: center;
  }
}