.page-project {
  // Header
  &.page-project-organizations-against-polarization .page-project-header {
    background-color: rgba($pink, 0.05);
    background-image: url(../assets/network-bg.svg);
    background-repeat: no-repeat;
    background-position: right 80px center;
    background-size: auto 800px;
    @media (max-width: $sm) {
      background-position: right -200px top 0;
    }
  }

  // Project overview
  .project-curiosity {
    margin: 50px 0;
    padding: 40px 30px 40px 190px;
    color: $white;
    background-color: $teal;
    background-image: url(../assets/skill-data-teal.svg);
    background-repeat: no-repeat;
    background-size: 120px 120px;
    background-position: 40px 32px;
    border-radius: $radius;
    h2 {
      margin: 5px 0;
      font-size: 3rem;
    }
    @media (max-width: $md) {
      padding-left: 155px;
      background-size: 100px 100px;
      background-position: 30px 32px;
    }
    @media (max-width: $sm) {
      padding-top: 90px;
      padding-left: 30px;
      background-size: 55px 55px;
      background-position: 30px 25px;
      .curiosity-label {
        font-size: 1.5rem;
      }
      h2 {
        font-size: 2.5rem;
      }
    }
  }
  .meta-container {
    position: relative;
    margin: 50px 0;
    padding-bottom: 60px;
    background: #fff;
    border: 2px solid $teal;
    border-radius: $radius;
    .project-meta {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 25px 30px;
      background: $teal;
      background: linear-gradient(0deg, rgba($teal, 1) 0%, rgba($teal, 0.6) 100%);
      font-size: 1.5rem;
      line-height: 1.1;
      color: $white;
      a {
        color: $white;
        box-shadow: rgba($white, 0.3) 0 -3px 0 0 inset;
        &:hover, &:focus {
          box-shadow: rgba($white, 0.2) 0 -18px 0 0 inset;
        }
      }
      .meta-item {
        margin: 8px 0;
      }
      .label {
        font-weight: 600;
      }
    }
    @media (max-width: $sm) {
      padding-bottom: 200px;
    }
    @media (max-width: 450px) {
      padding-bottom: 250px;
    }
  }

  // Project description
  .image-container {
    img {
      border-radius: $radius;
    }
    .caption {
      margin: 10px 0 30px;
      font-size: 1.5rem;
      color: rgba($text, 0.5);
      text-align: center;
    }
  }

  // Bottom link
  .project-bottom-link-container {
    margin-top: 115px;
    text-align: center;
  }
}