// Project thumbnails
.project {
  display: block;
  margin: 0 auto 50px;
  box-shadow: none;
  transition-property: opacity;
  @include easeSineIn;
  &:before {
    display: none;
  }
  &:hover, &:focus {
    box-shadow: none;
    .project-thumbnail {
      &:after,
      .more {
        opacity: 1;
        transition-property: all;
        @include easeSineOut;
        transition-duration: 300ms;
      }
      .more {
        &:before {
          border-width: 0 0 92px 500px;
          opacity: 1;
          transition-property: all;
          @include easeSineOut;
        }
      }
    }
  }
  .project-thumbnail {
    position: relative;
    padding-top: 62%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid $teal;
    border-radius: $radius;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      background: rgba($text, 0.6);
      opacity: 0;
      transition-property: all;
      @include easeSineIn;
    }
    .more {
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100px;
      overflow: hidden;
      opacity: 0;
      transition-property: all;
      @include easeSineIn;
      .more-text {
        position: absolute;
        bottom: 12px;
        right: 20px;
        font-weight: 600;
        color: $white;
      }
      &:before {
        content: '';
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        margin-top: -300px;
        border-style: solid;
        border-width: 0 0 0 500px;
        border-color: transparent transparent $teal transparent;
        opacity: 0;
        transition-property: all;
        @include easeSineIn;
      }
    }
  }
  &.project-nobel .project-thumbnail { background-image: url(../assets/project-nobel.svg); }
  &.project-foodprint .project-thumbnail { background-image: url(../assets/project-foodprint.svg); }
  &.project-music .project-thumbnail {
    background-color: #000;
    background-image: url(../assets/projects/spotify-hits/project-music.svg);
    background-size: 300px auto;
    background-position: center;
    @media (max-width: $md) {
      background-size: 200px auto;
    }
    @media (max-width: 350px) {
      background-size: 180px auto;
    }
  }
  &.project-network .project-thumbnail {
    background-color: #fff;
    background-image: url(../assets/projects/org-democracy/network-bg-nodes.svg);
    background-size: 600px auto;
    background-position: right -30px bottom 25px;
  }
  &.project-decade-review .project-thumbnail {
    background-color: #fff;
    background-image: url(../assets/project-review.svg);
  }
  &.project-mayu .project-thumbnail {
    background-color: #fff;
    background-image: url(../assets/project-mayu.png);
  }
  &.project-astronauts .project-thumbnail {
    background-color: #fff;
    background-image: url(../assets/project-astronauts.png);
  }
  &.project-oscars .project-thumbnail {
    background-color: #fff;
    background-image: url(../assets/project-oscars.svg);
  }
  &.project-tennis-pay-gap .project-thumbnail {
    background-color: #fff;
    background-image: url(../assets/project-tennis.png);
  }
  .project-title {
    margin: 15px 0 5px;
    font-size: 2.2rem;
    line-height: 1.2;
    font-weight: 600;
  }
  .project-support {
    font-family: $fontSecondary;
    font-size: 1.6rem;
  }
}

// Projects displayed on homepage
.home-projects {
  .project {
    color: $white;
    .project-thumbnail {
      border-color: $white;
    }
  }
}