.home-who {
  margin: 100px 0 200px;
  .btn {
    margin-top: 2rem;
  }
  .network-sample {
    height: 100%;
    background-image: url(../assets/network-sample.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}