button {
  border: 0;
  cursor: pointer;
  -webkit-appearance: button;
}

.btn {
  display: inline-block;
  padding: 15px 22px 13px;
  background-color: $white;
  font-weight: 600;
  color: $teal;
  background-color: $white;
  box-shadow: rgba($teal, 0.3) 0px -5px 0px 0px inset;
  border-radius: $radius;
  transition-property: all;
  @include easeSineIn;
  &:hover {
    color: $white;
    box-shadow: rgba($teal, 1) 0 -53px 0 0 inset;
    @include easeSineOut;
  }
  @media (max-width: $md) {
    padding: 12px 18px 10px;
    font-size: 1.6rem;
  }

  // Blue buttons
  &.btn-teal {
    color: $white;
    background-color: $teal;
    box-shadow: rgba($white, 0.5) 0px -5px 0px 0px inset;
    &:hover {
      color: $white;
      box-shadow: rgba($pink, 1) 0 -53px 0 0 inset;
    }
  }

  // Pink buttons
  &.btn-pink {
    color: $white;
    background-color: $pink;
    box-shadow: rgba($white, 0.5) 0px -5px 0px 0px inset;
    &:hover {
      color: $white;
      box-shadow: rgba($teal, 1) 0 -53px 0 0 inset;
    }
  }

  // Pink on rollover
  &.btn-pink-rollover {
    &:hover {
      color: $white;
      box-shadow: rgba($pink, 1) 0 -53px 0 0 inset;
    }
  }
}