.cta-portfolio {
  position: relative;
  margin-bottom: -200px;
  padding: 150px 0;
  background-color: #fff;
  background-image: url(../assets/network-bg.svg);
  background-repeat: no-repeat;
  background-position: right -100px bottom -280px;
  background-size: 1200px auto;
  h2 {
    margin-top: 0;
  }
  .cta-content {
    margin: 6px 0;
  }
  .btn {
    margin-top: 4rem;
  }
}