.cta-portfolio {
  margin-bottom: -200px;
  padding: 150px 0;
  background-image: url(../assets/bg-network.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  h2 {
    margin-top: 0;
  }
  .cta-content {
    margin: 6px 0;
  }
  .btn {
    margin-top: 4rem;
  }
}