footer {
  margin-top: 200px;
  padding: 150px 0 15px;
  background: linear-gradient(165deg, rgba($darkBlue,1) 0%, rgba($teal,1) 100%);
  color: $white;
  @media (max-width: $sm) {
    margin-top: 120px;
  }

  // Top section
  .footer-top {
    text-align: center;
    h2 {
      font-size: 3.5rem;
    }
    // Social links
    .social-links {
      margin: 150px 0;
      li {
        margin-top: -8px;
      }
    }
  }

  // Bottom section
  .footer-bottom {
    font-size: 1.3rem;
    a {
      z-index: 1;
      color: $white;
      box-shadow: rgba($pink, 0.3) 0 -5px 0 0 inset;
      &:hover, &:focus {
        box-shadow: rgba($pink, 0.3) 0 -16px 0 0 inset;
      }
    }
    // Copyright
    .copyright {
      text-align: right;
    }
    @media (max-width: $lg) {
      .credits,
      .copyright {
        line-height: 1.2;
        text-align: center;
      }
      .credits {
        margin-bottom: 10px;
      }
    }
  }
}