footer {
  position: relative;
  margin-top: 200px;
  padding: 300px 0 15px;
  color: $white;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 200%;
    background-image: url(../assets/footer-bg.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 0;
    @media (max-width: $lg) {
      background-size: auto 100%;
    }
  }
  .container {
    position: relative;
    z-index: 1;
  }
  @media (max-width: $lg) {
    margin-top: 120px;
  }
  @media (max-width: $sm) {
    margin-top: 100px;
  }

  // Top section
  .footer-top {
    text-align: center;
    .home-link {
      box-shadow: none;
      span {
        display: block;
        text-indent: -9000em;
      }
      .logo {
        height: 90px;
        path {
          transition-property: fill;
          @include easeSineIn;
        }
      }
      &:hover, &:focus {
        .logo path {
          fill: $yellow;
          @include easeSineOut;
        }
      }
    }
    h2 {
      margin-top: 35px;
      font-size: 3.5rem;
      @media (max-width: $sm) {
        font-size: 3rem;
      }
    }
    // Social links
    .social-links {
      margin: 150px 0;
      li {
        margin-top: -8px;
      }
    }
  }

  // Bottom section
  .footer-bottom {
    font-size: 1.3rem;
    a {
      z-index: 1;
      color: $white;
      box-shadow: rgba($tealPale, 0.4) 0 -5px 0 0 inset;
      &:hover, &:focus {
        box-shadow: rgba($tealPale, 0.4) 0 -16px 0 0 inset;
      }
      @media (max-width: $lg) {
        box-shadow: rgba($yellow, 0.4) 0 -5px 0 0 inset;
        &:hover, &:focus {
          box-shadow: rgba($yellow, 0.4) 0 -16px 0 0 inset;
        }
      }
    }
    // Copyright
    .copyright,
    .privacy {
      text-align: right;
    }
    .privacy-statement {
      margin-right: 15px;
    }
    @media (max-width: $lg) {
      .credits,
      .copyright,
      .privacy {
        margin-bottom: 10px;
        line-height: 1.2;
        text-align: center;
      }
    }
  }
}