.page-header {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
  height: 500px;
  color: $white;
  background-color: $grey;
}

.small-header {
  position: relative;
  height: 500px;
  margin-bottom: 120px;
  padding-top: 150px;
  background: $teal;
  background: linear-gradient(120deg, rgba($teal,1) 0%, rgba($yellow,1) 100%);
  h1 {
    position: relative;
    z-index: 1;
  }
  @media (max-width: $sm) {
    height: 300px;
    padding-top: 90px;
  }
}

// Header logo in background
.logo-bg {
  position: absolute;
  z-index: 0;
  top: -80px;
  left: -70px;
  width: 42%;
  height: 60%;
  background-image: url(../assets/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
  opacity: 0.3;
  @media (max-width: $xl) {
    width: 50%;
  }
  @media (max-width: $lg) {
    left: -150px;
    width: 60%;
  }
  @media (max-width: $md) {
    width: 80%;
  }
  @media (max-width: $sm) {
    width: 100%;
  }
}
.small-header {
  .logo-bg {
    height: 120%;
  }
}
