.navbar {
  position: relative;
  z-index: 100;
  padding: 10px 0;
  background-color: $grey;
  background-color: $teal;
  color: $white;

  // Logo
  .logo-container {
    a {
      &:before {
        display: none;
      }
    }
    span {
      display: block;
      width: 0;
      height: 0;
      text-indent: -9000rem;
    }
    .logo {
      height: 50px;
    }
  }

  // Navigation
  .main-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    li {
      display: flex;
    }
    a {
      padding: 1rem $gutter/2;
      font-size: 1.4rem;
      font-weight: 600;
      color: $white;
      text-transform: uppercase;
      &.nav-link {
        &:before {
          left: $gutter/2;
          right: $gutter/2;
          bottom: 6px;
          background-color: $white;
          transform: scaleX(0);
        }
        &:hover, &:focus {
          &:before {
            transform: scaleX(1);
          }
        }
      }
      &.btn {
        margin-left: $gutter/2;
        color: $teal;
        text-transform: capitalize;
      }
    }
  }

  // Homepage
  &.homepage {
    background-color: transparent;
    .logo-container a {
      display: none;
    }
    .main-navigation {
      a {
        color: $white;
        &:before {
          background-color: $white;
        }
      }
      .btn {
        display: none;
      }
    }
  }
}