.navbar {
  position: relative;
  z-index: 100;
  padding: 10px 0;
  background: $teal;
  background: linear-gradient(45deg, rgba($teal,1) 0%, rgba($teal,1) 45%, rgba($yellow,1) 100%);

  // Logo
  .logo-container {
    a {
      box-shadow: none;
      .logo {
        display: block;
        path {
          stroke-width: 1.5;
          transition-property: stroke;
          @include easeSineIn;
        }
      }
      &:hover, &:focus {
        .logo path {
          stroke: $yellow;
          @include easeSineOut;
        }
      }
    }
    span {
      display: block;
      width: 0;
      height: 0;
      text-indent: -9000rem;
    }
  }

  // Navigation
  .main-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    li {
      display: flex;
    }
    a {
      position: relative;
      padding: 1rem $gutter/2;
      font-size: 1.6rem;
      font-weight: 600;
      color: $white;
      text-transform: uppercase;
      &.nav-link {
        box-shadow: none;
        &:before {
          content: '';
          position: absolute;
          left: $gutter/2;
          right: $gutter/2;
          bottom: 6px;
          height: 3px;
          background-color: $white;
          transform: scaleX(0);
          transition-property: transform;
          @include easeSineIn;
        }
        &:hover, &:focus {
          &:before {
            transform: scaleX(1);
            @include easeSineOut;
          }
        }
      }
      &.active {
        cursor: default;
        &:before {
          transform: scaleX(1);
        }
      }
      &.btn {
        margin-left: $gutter/2;
        font-size: 1.6rem;
        color: $teal;
        text-transform: capitalize;
        &:hover, &:focus {
          color: $white;
        }
      }
    }
  }

  // Homepage
  &.homepage,
  &.contact-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    .main-navigation {
      a {
        color: $white;
        &:before {
          background-color: $white;
        }
      }
      .btn {
        display: none;
      }
    }
  }
  &.homepage {
    .logo-container a {
      display: none;
    }
  }
}